* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

/* Removed class .header because there is only one header tag in HTML */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* There is only one h1 in HTML */
h1 {
  display: inline-block;
  font-size: 48px;
}

/* Just .seo is enough to refer to the class in HTML */
.seo {
  color: #d9dcd6;
}

/* Changed to nav only because there is only one nav tag in HTML file*/
nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* Changed to "nav li" to target what is being changed */
nav li {
  display: inline-block;
  margin-left: 25px;
  /* added list-style-type: none; into element "ul li" to consolitdate */
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* Replaced .hero class with semantics that only makes changes to img and keeps figure in default. */
/* Moved img to HTML for good code practice and to be able to include alt in HTML file. */
figure img {
  width: 100%;
  margin-bottom: 25px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* For class .benefits part, div opening and closing tags were changed to aside tag. Remaining div tags inside of aside tags were changed to article tags. */
/*The classes within the article tags were removed.*/
/* Originally the classes in the .benefits part all had same code, so it was consolidated to just article tag.*/
article {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Similar to the artcle part, h3 consolidated the same codes needed for h3. (NOTE: did not put class .benefits because there is only one h3 tag in HTML file*/
h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Similar to the article and h3, .benefits img consolidated the same codes needed for the img within class .benefits */
.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* From lines 109 to 125, the same process was done for class .content to consolidate the same codes that were written for each section, .content h2, and .content img */
section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.content img {
  max-height: 200px;
}

/* NOTE: used class .content because there is another h2 tag in the footer */
.content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Removed class .footer to element footer because there is only one footer in HTML */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
